* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    align-items: center;
    text-align: center;
    margin: auto;
}





header, footer {
    
    padding: .5rem;
    background-color: rgb(220, 103, 103);
    display: block;
    
}

header {
    grid-template-columns: 300px 1fr;
}

header img {
    width: 100%;
    height: auto;
    grid-column: 1;
    border-radius: .25rem;
}

header h1 {
    color: rgb(247, 245, 245);
}

main {
    margin: 1rem auto;
    padding: 2rem;
}

footer {
    color:rgb(247, 245, 245);
}

footer #lastModified {
    color: rgb(0, 75, 44);
}