@media (min-width: 32.5em) {
    body {
        max-width: 1000px;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    main div#whiteSpace {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}