* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Libre Bodoni', serif;
    font-size: 16px;
    max-width: 600px;
}

header, footer {
    background-color: rgb(57, 57, 121);
    color: rgb(255, 255, 255);
    display: block;
    align-items: center;
    text-align: center;
}

div {
    background-color: rgb(245, 245, 220);
    color: rgb(0, 0, 0);
    border: 1px solid #bbb;
    border-radius: .5rem;
    display: grid;
    margin: 1rem;
    
    
    
}

div h2 {
    background-color: rgb(57, 57, 121);
    color: rgb(255, 255, 255);
    text-align: center;
    
}

div h2, h3, a, p, img {
    padding: .5rem;
}

div img {
    width: 100%;
    height: auto;
    
}