* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --green: #5F816A;
    --red: #A12B44;
    --tan: #E9CDC3;
    --grey: #F1E6E4;
    --white: #FFFFFF;
}

h1 {
    display: none;
}

h1, h2, h3, h4 {
    font-family: 'Merriweather', serif;
}
main {
    margin: auto;
}
header {
    background-color: var(--red);
    color: var(--tan);
    text-align: center;
    padding: .25rem;
}

header img {
    width: 100%;
    height: auto;
}

header nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: var(--tan);
    
}

header nav ul {
    display: none;
    text-align: center;
    list-style: none;
}
nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: var(--tan);
    
}
nav ul li a:hover {
    background-color: rgba(0,0,0,.3);
}
header nav ul.open {
    display: block;
    background-color: rgba(0,0,0,.1);
}

body {
    font-family: 'Libre Bodoni', serif;
    font-size: 18px;
    max-width: 1000px;
    background-color: var(--green);
}

button {padding: .25rem;}

main section {
    border: 1px solid black;
    border-radius: .25rem;
    padding: .5rem;
    margin: .25rem;
    background-color: var(--grey);
    text-align: center;
}
main section h2 {
    color: var(--red);
    text-shadow:2px 2px .25rem var(--green);
}
main #hero {
    position: relative;
    padding: 0;
    border: none;
    background-color:rgba(0, 0, 0, 0);
}

main #hero img {
    width: 100%;
    height: auto;
    border-radius: .25rem;
    padding: 0;
}
main #hero p {
    
    position: absolute;
    top: 20px;
    left: 20px;
    color: var(--white);

}
main #hero button {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

main #spotlight {
    display: grid;
}

main #spotlight div {
    background-color: rgba(0, 0, 0, .05);
    padding: .25rem;
    margin: .25rem;
   
    border: 1px solid black;
}
main #spotlight div img {
    width: 50%;
    height: auto;
}
main #join {
    text-align: center;
}
main #join p {
    padding: .25rem;
}
main #weather div {
    display: grid;
    grid-template-rows: 1fr 1fr;
    
}
main #weather div img {
    width: 50%;
    height: auto;
    
    
}
main #weather section {
    border: none;
}
main #weather section p {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: .25rem;
}

footer {
    background-color: var(--red);
    font-size: 14px;
    text-align: center;
    color: var(--tan);
    padding: .5rem;
}

footer img {
    display: block;
    width: 50%;
    height: auto;
    margin: auto;
}

header #banner {
    display: none;
}
header #banner.showBanner {
    display: grid;
    grid-template-columns: 4fr 1fr;
    position: fixed;
    background-color: var(--tan);
    border: 1px solid black;
    color: black;
    float: left;
    z-index: 100;
    padding: .5rem;
    width: 100%;
    font-size: 20px;
}

header #banner p {
    position: relative;
}


main.gallery {
    display: block;
}
section.gallery figure {
    padding: 2rem;
}
section.gallery img {
    width: 80%;
    height: auto;
}

/* ----------- FORM ----------- */
main.form {
    display: block;
}
h2.form {
    color: var(--white);
    padding: 2rem;
    text-align: center;
}
form {
    background-color: var(--tan);
    padding: .5rem;
    margin-bottom: 2%;
    border-radius: .25rem;
}
form fieldset {
    margin: 2rem 0;
    border: 1px solid var(--red);
    border-radius: .25rem;
    padding: .5rem 2%;

}
form legend {
    color: var(--green);
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: var(--green);
    font-size: .8rem;
}

form label.top input, form label.top select {
    --webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #555;
    
}

form input.submitBtn {
    border: none;
    background-color: var(--green);
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required {
    border-top: red solid 6px;
}

form label.top input:required:valid {
    border-top: green solid 6px;
}

form label.sbs input {
    margin: .25rem;
}

form textarea {
    padding: .25rem;
    width: 100%;
    background-color: var(--grey);
}

form #currFormTime {
    display: none;
}