@media (min-width: 32.5em) {
    .logo {
        width: 30%;
    }
    #menuButton {
        font-size: 32px;
    }
    #primaryNav.open {
        top: 18rem;
    }

    form #drinkOptions div {
        
        grid-template-columns: 1fr 1fr 1fr;
    }
    #weather {
       
        grid-template-columns: 1fr;
        
    }

    #callToAction h2 {
        bottom: 32rem;
        width: 70%;
        font-size: 32px;
    }
    #callToAction a {
        
        font-size: 28px;
    }

    /* home page layout  */

    .home {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
    }
    .home #callToAction {
        grid-column: 1 / 3;

    }
    .home #socialMedia {
        grid-column: 2;
        grid-row: 2;
    }
    .home #numDrinks {
        grid-column: 1 / 3;
        grid-row: 4;
    }
    .home #contactInfo {
        grid-column: 1;
        grid-row: 3;
    }
    .home #weather {
        grid-column: 2;
        grid-row: 3;
    }
    .home #areaInfo {
        grid-column: 1;
        grid-row: 2;
    }
}