@media (min-width: 32.5em) {
    .logo {
        width: 30%;
    }
    #menuButton {
        font-size: 32px;
    }
    #primaryNav.open {
        top: 18rem;
    }

    form #drinkOptions div {
        
        grid-template-columns: 1fr 1fr 1fr;
    }

}