* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --green: rgb(5, 66, 17);
    --gray: rgb(172, 172, 172);
    --white: rgb(255, 255, 255);
    --black: rgb(0,0,0);
}

body {
    width: 600px;
    margin: auto;
    padding: .5rem;
    
}

.borders {
    background-color: var(--green);
    border: 1px solid var(--black);
    border-radius: .5rem;
    text-align: center;
    color: var(--white);
    padding: 1rem;
    box-shadow: 7px 7px  5px var(--black);
}

main {
    padding: 1rem;
    margin: .5rem;
    
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

header img {
    width: 250px;
    height: auto;
}
header h1 {
    margin-top: auto;
    margin-bottom: auto;
}

main ul {
    margin-left: 3rem;
}
